<%= stylesheet_link_tag "footer" %>

<div id="footer">
	<div id="left_column">
		<div id="tos_and_pp"><%= link_to "Topps BUNT Terms of Service and Privacy Policy", :tos %></div>
		<div id="tm_boilerplate">&copy 2012 The Topps Company, Inc. All Rights Reserved. TOPPS&reg AND TOPPS BUNT ARE TRADEMARKS OF THE TOPPS COMPANY, INC.  Major League Baseball trademarks and copyrights are used with permission of MLB Advanced Media, LP.  OFFICIALLY LICENSED PRODUCT OF MLBAM.  Visit MLB.com.  LICENSED BY MLBPA, 2012. &copy MLBPA.  OFFICIAL LICENSEE - MAJOR LEAGUE BASEBALL PLAYERS ASSOCIATION.</div>
	</div>
	<div id="right_column">
		<div id="link_buttons">
			<%= link_to image_tag("promo_page/footer/about.png"), "" %>
			<%= link_to image_tag("promo_page/footer/help.png"), "http://toppsbunt.zendesk.com" %>
			<%= link_to image_tag("promo_page/footer/blog.png"), "http://toppsbunt.tumblr.com" %>

		</div>
		<div id="logo_buttons">
			<%= link_to image_tag("promo_page/footer/topps_logo.png"), "http://www.topps.com" %>
			<%= link_to image_tag("promo_page/footer/mlb_logo.png"), "http://www.mlb.com" %>
			<%= link_to image_tag("promo_page/footer/mlb_logo2.png"), "http://www.mlbplayers.com" %>
		</div>
	</div>

</div>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>


<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>