

<% if @browser.ipad? %>
	<head>
		<meta name="viewport" content="width=1150,
	                               maximum-scale=1.0">
	</head>
  <style type="text/css">
    body { overflow-x: hidden; }
  </style>
<% end %>
<%= stylesheet_link_tag "shared_welcome" %>
<%= stylesheet_link_tag "main_promo_page" %>

<%= render partial: "header" %>


<div id="stadium" >

	<div id="first_row" class="seat_row"><%= image_tag "promo_page/bleachers/main/first_row.png"%></div>
	<div id="second_row" class="seat_row"><%= image_tag "promo_page/bleachers/main/second_row.png"%></div>
	<div id="third_row" class="seat_row"><%= image_tag "promo_page/bleachers/main/third_row.png"%></div>

	<%= render partial: "bleacher_fans" %>

	<%= render partial: "focus_avatar" %>

</div>

<div id="bottom_slogan">TOPPS BUNT: NOW AVAILABLE ON IPHONE!</div>

<%= render partial: "footer" %>
<%= render partial: "sms_overlay" %> 
<%= render partial: "mailing_list_overlay" %>


<%= javascript_include_tag :promo_page %>

<script type="text/javascript">
 
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-6292203-1']);
  _gaq.push(['_setDomainName', '.topps.com']);
  _gaq.push(['_setAllowLinker', true]);
  _gaq.push(['_setAllowHash', false]);
  _gaq.push(['_trackPageview']);
 
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
 
</script>


