<p id="notice"><%= notice %></p>

<p>
  <b>Attempted:</b>
  <%= @message.attempted %>
</p>

<p>
  <b>Success:</b>
  <%= @message.success %>
</p>

<p>
  <b>Type:</b>
  <%= @message.type %>
</p>

<p>
  <b>Message:</b>
  <%= @message.message %>
</p>

<p>
  <b>Batch:</b>
  <%= @message.batch_id %>
</p>


<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
