<h1>Listing nfl_games</h1>

<table>
  <tr>
    <th>Team 1</th>
    <th>Team 2</th>
    <th>Game start</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @nfl_games.each do |nfl_game| %>
  <tr>
    <td><%= nfl_game.team_1.name %></td>
    <td><%= nfl_game.team_2.name %></td>
    <td><%= nfl_game.game_start %></td>
    <td><%= link_to 'Show', nfl_game %></td>
    <td><%= link_to 'Edit', edit_nfl_game_path(nfl_game) %></td>
    <td><%= link_to 'Destroy', nfl_game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Nfl game', new_nfl_game_path %>
